.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.container {

    /* background-color: red; */
    width: 100%;

    margin: 10px 60px;
    min-height: 70vh;

    
    display: flex;
    gap: 20px;
}

.container> .side {
    min-height: 400px;
}

.side.navigation {
    /*border: 1px solid red;*/
    background-color: transparent;
    flex: 3 0 0;
    min-width: 210px;

    display: flex;
    flex-direction: column;
}
.side.navigation>*{
    width: 100%;
}



.side.content {
    background-color: #ffffff;
    flex: 7 0 0;
    min-width: 490px;

    display: flex;
    flex-direction: column;

    border-radius: 10px ; 
}


.con-act-container {
    border-radius: 10px 10px 0 0  ; 
    width: 100%;
    min-height: 40px;
    height: 10%;
    max-height: 100px;
    background-color: #f7f9f8;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    gap: 10px;


}
.con-act-container * {
    color: var(--theme-text-color);
}
.con-act-button {
    font-size:1rem;
    background-color: transparent;
}

.con-text-container {
    padding: 30px;

    overflow-x: auto;
    flex: 1;

}

.icon-text-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon-text-button> :not(span) {
    font-size: 1.2rem;
}


.nav-act-container {

    /*border: 1px solid blue;*/

    display: flex;
    flex-direction: column;

    height: 10%;
    max-height: 100px;
}


.new-note-button {
    font-size: 1rem;
    height: 90%;
    max-height: 100px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 0.5);

    background-color: #ffffff;
}

.nav-notes-container {
    display: flex;
    flex-direction: column;

    flex: 1;

    gap: 10px;

    padding-top: 10px;

    flex-wrap: nowrap;       /* Prevents wrapping; forces items into a single line */
    overflow-x: auto;

}
.note-card {
    box-shadow: 0 1px 1px rgb(0 0 0 / 0.5);
    height: calc(20%);
    max-height: 100px;
    border-radius: var(--theme-border-radius);
    background-color: #ffffff;
    padding: 10px;

    font-size: 1rem;
}
.note-card:hover {
    filter: brightness(0.98);
}
.note-card:active {
    scale: 0.98;
}
.note-card.active {
    border: 1px solid blue;
    filter: brightness(0.9);
}